.advantages__list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
}

.advantages__description--square {
  text-align: center;
  color: #ffffff;
  background-color: #81b3d2;
}

.advantages__description--extra {
  text-align: center;
  background-color: #eeeeee;
}

.advantages__description--triangle {
  background-image: url("../img/bg-triangle.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-size: contain;
  padding-top: calc((37/320)*100%);
}

.advantages__description-wrapper {
  padding-top: 40px;
}

.advantages__description-wrapper--extra {
  padding-top: 30px;
  padding-bottom: 4px;
}

.advantages__description-wrapper--extra--line {
  border-bottom: 1px solid #d6d6d6;
}

.advantages__number-wrapper {
  margin-bottom: 25px;
}

.advantages__number {
  margin: 0;
  padding: 0;
}

.advantages__title {
  margin: 0;
  padding: 0;
  position: relative;
  margin-bottom: 8px;
  padding: 0 20px;
  font-size: 18px;
  line-height: 26px;
  text-transform: uppercase;
}

.advantages__text {
  margin: 0;
  padding: 0;
  text-transform: uppercase;
  padding-bottom: 10px;
}

.advantages__description {
  position: relative;
  box-sizing: border-box;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 20px;
  font-size: 14px;
}

.advantages__description--place {
  color: #ffffff;
  padding-bottom: 38px;
  background-color: #81b3d2;
}

.advantages__image-wrapper {
  position: relative;
  overflow: hidden;
  height: 260px;
}

.advantages__image {
  display: block;
  width: 100%;
  height: 260px;
}

@media (min-width: @tablet-width) {
  .advantages__list {
    flex-direction: row;
    flex-wrap: wrap;
    width: @tablet-width;
    margin: 0 auto;
  }
  .advantages__item {
    display: flex;
    flex-wrap: wrap;
  }
  .advantages__description {
    width: 256px;
  }
  .advantages__description--triangle {
    background-image: none;
    padding: 0;
  }
  .advantages__description-wrapper {
    margin: 0;
    padding: 0;
    padding-top: 45px;
    width: auto;
  }
  .advantages__description--extra {
    width: 256px;
    border: none;
  }
  .advantages__description-wrapper--extra--line {
    border-bottom: none;
  }
  .advantages__title {
    font-size: 21px;
  }
  .advantages__image-wrapper {
    width: 512px;
  }
  .advantages__item--bridge {
    display: flex;
    flex-direction: row-reverse;
  }
  .advantages__description-wrapper--extra {
    padding-top: 41px;
    padding-bottom: 30px;
  }
  .advantages__title--road {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .advantages__title--tourists {
    width: 100px;
    margin: 0 auto;
    margin-bottom: 8px;
  }
  .advantages__text--space {
    width: 170px;
    margin: 0 auto;
  }
  .advantages__text--road {
    width: 140px;
    margin: 0 auto;
  }
  .advantages__text--tourists {
    width: 150px;
    margin: 0 auto;
  }
  .advantages__text--place {
    width: 170px;
    margin: 0 auto;
  }
  .advantages__text--bridge {
    width: 170px;
    margin: 0 auto;
  }
  .advantages__title--bridge {
    width: 100px;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .advantages__list {
    width: @desktop-width;
  }
  .advantages__description {
    width: 400px;
  }
  .advantages__description--extra {
    width: 400px;
  }
  .advantages__description-wrapper {
    padding-top: 52px;
  }
  .advantages__image-wrapper {
    width: 800px;
    height: 256px;
  }
  .advantages__title {
    margin: 0;
    padding: 0;
    width: 160px;
    margin: 0 auto;
  }
  .advantages__number {
    margin: 0;
    padding: 0;
    padding-top: 10px;
  }
  .advantages__text {
    margin: 0;
    padding: 0;
    width: 270px;
    margin: 0 auto;
  }
  .advantages__text--bridge {
    width: 220px;
  }
  .advantages__description-wrapper--extra {
    padding-top: 44px;
    padding-bottom: 60px;
  }
  .advantages__title--tourists {
    width: 100px;
  }
  .advantages__text--space {
    width: 300px;
  }
}
