.features {
  margin: 0 auto;
  padding-bottom: 37px;
  background-color: #ffffff;
  list-style: none;
}
.features__item {
  position: relative;
  margin-bottom: 27px;
  padding-left: 50px;
  box-sizing: border-box;
}
.features__title {
  margin-top: 10px;
  margin-bottom: 15px;
  font-size: 18px;
  font-weight: bold;
  line-height: 26px;
  color: #000000;
}
