.main-nav {
  width: 100%;
  min-height: 56px;
  margin: 0 auto;
  position: relative;
}

.main-nav__list {
  font-size: 18px;
  line-height: 40px;
  font-weight: 700;
  background-color: #81b3d2;
}

.main-nav__toggle {
	position: absolute;
	right: 0;
	width: 64px;
	height: 56px;
	cursor: pointer;
  z-index: 10;
}

.main-nav--opened .main-nav__toggle {

	&:after,
	&:before {
		content: '';
		position: absolute;
		width: 28px;
		height: 4px;
		background-color: #ffffff;
		left: 50%;
		top: 50%;
		margin-left: -14px;
		margin-top: -2px;
	}

	&:before {
		transform:  rotate(45deg);
	}

	&:after {
		transform:  rotate(-45deg);
	}
}

.main-nav--closed .main-nav__toggle {
	&:before {
		content: '';
		position: absolute;
		width: 23px;
    height: 22px;
    background-image: url("../img/icon-menu.svg");
    background-repeat: no-repeat;
    background-size: cover;
		top: 17px;
		left: 20px;
		margin-top: -2px;
	}
}

 @media (max-width: @mobile-width-only) {
  .main-nav--closed .site-list__item {
    display: none;
  }
  .main-nav--opened .main-nav__wrapper {
    margin-bottom: 56px;
  }
  .main-nav--nojs .main-nav__toggle {
    display: none;
  }
  .main-nav--nojs .site-list__item {
    display: block;
  }
}

@media (min-width: @tablet-width) {
  .main-nav {
    width: 100%;
    margin: 0;
    padding-bottom: 0;
  }
  .main-nav__list {
    display: flex;
    justify-content: space-around;
    font-size: 14px;
    line-height: 26px;
    background-color: #ffffff;
  }
  .main-nav--opened::after {
    display: none;
  }
  .main-nav__toggle {
    display: none;
  }
}

