.media__information {
  background-color: #ffffff;
  padding-left: 25px;
  padding-right: 25px;
  padding-top: 40px;
  padding-bottom: 25px;
  text-align: center;
}

.media__title {
  margin: 0;
  padding: 0;
  margin-bottom: 25px;
  font-weight: 700;
  font-size: 18px;
  line-height: 26px;
}

.media__description {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;
  text-transform: uppercase;
}

.media__list {
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #ffffff;
}

.media__item {
  margin: 0 auto;
  padding-top: 22px;
  border-top: 1px solid #d6d6d6;
}

.media__item--bridge {
  border-bottom: 1px solid #d6d6d6;
}

.media-image {
  padding-left: 20px;
  padding-right: 20px;
}

.media-image__link {
  display: block;
}

.media-image__image {
  display: block;
  max-width: 100%;
  height: auto;
}

.media-image__info {
  padding-top: 16px;
  line-height: 24px;
  padding-bottom: 16px;
}

.media-image__title {
  margin: 0;
  font-size: 14px;
  font-weight: 700;
  color: #000000;

}

.media-image__author {
  margin: 0;
  padding: 0;
  margin-bottom: 7px;
  text-transform: none;
}

.media-image__likes {
  display: flex;
  width: 70px;
  justify-content: space-between;
  align-items: center;
}

.media-image__likes--button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  width: 24px;
  height: 24px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.media-image__likes--icon {
  display: block;
  width: 22px;
  height: 20px;
  fill: #000000;
  fill-opacity: 0.3;
}

.media-image__amount {
  align-self: flex-end;
  margin-left: 13px;
  font-weight: 700;
  color: #000000;
  line-height: 14px;
}

@media (min-width: @tablet-width) {
  .media__information {
    padding-left: 60px;
    padding-right: 60px;
    padding-top: 75px;
    padding-bottom: 70px;
  }
  .media__title {
    font-size: 30px;
    margin-bottom: 30px;
  }
  .media__description {
    padding: 0 110px;
  }
  .media__list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 60px;
    padding-right: 60px;
    width: 648px;
  }
  .media__item {
    width: 324px;
    margin: 0;
    border: none;
    padding-top: 0;
  }

  .media__item--bridge {
    border: none;
  }

  .media__item--sunset {
    width: 100%;
  }
  .media__item:last-child {
    border: none;
  }
  .media-image {
    padding: 0;
    width: 100%;
  }
  .media-image__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px 20px;
  }
  .media-image__info--dark {
    background-color: #eaeaea;
  }
  .media-image__author {
    margin-bottom: 0;
  }
  .media-image__likes {
    padding-top: 0;
    width: 65px;
  }
  .media-image__likes--icon {
    fill: #000000;
    fill-opacity: 0.3;
  }
  .media-image__amount {
    align-self: auto;
    margin-left: 9px;
  }
}

@media (min-width: @desktop-width) {
  .media__list {
    padding-left: 0;
    padding-right: 0;
    width: auto;
  }
  .media__information {
    padding-left: 120px;
    padding-right: 120px;
    padding-top: 113px;
  }
  .media__description {
    padding: 0 260px;
  }
  .media__item {
    position: relative;
    width: 400px;
  }
  .media__item--sunset {
    width: 100%;
  }
  .media-image__info {
    position: absolute;
    z-index: 10;
    bottom: 0;
    width: ~"calc(100% - 20px * 2)";
    color: #ffffff;
    background-color: fade(#000000, 30%);
  }
  .media-image__author {
    color: #ffffff;
  }
  .media-image__likes--icon {
    fill: #000000;
    fill-opacity: 1;
  }
  .media-image__amount {
    color: #ffffff;
  }
  .media-image__title {
    color: #ffffff;
  }
}
