@import "main-nav.less";
@import "page-header.less";
@import "page-main.less";
@import "welcome-screen.less";
@import "intro.less";
@import "advantages.less";
@import "features.less";
@import "page-footer.less";
@import "promo-screen.less";
@import "media.less";
@import "variables.less";
@import "site-list.less";
@import "feedback.less";
@import "booking.less";
@import "map.less";
@import "button.less";
@import "social-list.less";
@import "copyright.less";
@import "video.less";


@font-face {
  font-weight: normal;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrow.woff2") format("woff2"), url("fonts/PTSansNarrow.woff") format("woff");
}

@font-face {
  font-weight: bold;
  font-family: "PT Sans Narrow";
  font-style: normal;
  src: url("fonts/PTSansNarrowBold.woff2") format("woff2"), url("fonts/PTSansNarrowBold.woff") format("woff");
}

body {
  padding: 0;
  margin: 0;
  font-family: "PT Sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  color: #333333;
  text-transform: uppercase;

  background-color: #f2f2f2f2;
}

.visually-hidden:not(:focus):not(:active) {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  overflow: hidden;
}

.img {
  max-width: 100%;
  height: auto;
}

@media (min-width: @desktop-width) {
  body {
    background-color: #f2f2f2;
  }
  .container {
    margin: 0 auto;
    position: relative;
    background-color: #ffffff;
    max-width: 1200px;
    box-shadow: 0 5px 15px 0 rgba(0, 1, 1, 0.2);
  }
}
