.welcome-screen {
	height: 390px;
  background-color: #9bb0c0;
  background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@1x.jpg");
  background-repeat: no-repeat, no-repeat;
  background-position: bottom, center top;
  background-size: cover;

  @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
    background-image: url("../img/bg-intro-triangle-mobile.svg"), url("../img/bg-back-mobile@2x.jpg");
    background-size: 320px auto;
  }
}

.welcome-screen__logo {
  height: 213px;
  text-align: center;
  padding-top: 90px;
}

.welcome-screen__logo img {
  width: 280px;
  height: 213px;
}

@media (min-width: @tablet-width) {
  .welcome-screen {
    background-color: #ffffff;
    background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center top;
    background-size: auto, cover;
    height: 518px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-tablet.svg"), url("../img/bg-back-tablet@2x.jpg");
      background-size: 768px auto;
    }
  }
  .welcome-screen__logo {
    height: 350px;
    padding-top: 77px;
  }
  .welcome-screen__logo img {
    display: block;
    width: 460px;
    height: auto;
    margin: 0 auto;
  }
}

@media (min-width: @desktop-width) {
  .welcome-screen {
    width: 1200px;
    margin: 0 auto;
    background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@1x.jpg");
    background-repeat: no-repeat, no-repeat;
    background-position: bottom, center top;
    background-size: auto, cover;
    height: 518px;

    @media (min-resolution: @retina-dpi), (min-resolution: @retina-dppx) {
      background-image: url("../img/bg-intro-triangle-desktop.svg"), url("../img/bg-back-desktop@2x.jpg");
      background-size: 1200px auto;
    }
  }
}

